{% extends 'base.html' %} {% load static %} {% block body %}
<main class="main">
  <div class="main_page">
    <!-- ================== Home Page Profile =================== -->
    <div class="short_profile">
      <div class="profile_details_info_home">
        <div class="cover_photo">
          <img
            src="{% static './assets/images/cover/1627845013074.jfif' %}"
            alt="Cover"
          />
        </div>
        <div class="profile_photo">
          <img
            src="{% static './assets/images/profile_pic/243801350_3298072810479798_5198757960072350324_n.jpg' %}"
            alt="Profile Pic "
          />
        </div>
        <div class="profile_bio">
          <div class="profile_name_home">Jahidul Islam</div>
          <div class="current_work">
            <span class="position">Student</span> at
            <span class="organization">Ranada Prasad Saha University</span>

            <br /><br />
          </div>
        </div>
      </div>
      <div class="show_more">
        <p>Show more</p>
        <i class="bx bx-chevron-down nav_link"></i>
      </div>
      <div class="show_details">
        <div class="show_details_div recent_cases">
          <div class="show_details_div_title">Recent Case</div>
          <div class="recent_div recent_case">
            <div class="recent_home_icon">
              <i class="bx bxs-briefcase"></i>
            </div>
            <div class="case_title">
              <p>
                Civil Petition 860/2022 ((From the judgment and order dated 05th
                day of April, 2018 passed by the High Court Division in Writ
                Petition No.7545 of 2015))
              </p>
            </div>
          </div>
          <div class="recent_div recent_case">
            <div class="recent_home_icon">
              <i class="bx bxs-briefcase"></i>
            </div>
            <div class="case_title">
              <p>
                Civil Petition 860/2022 ((From the judgment and order dated 05th
                day of April, 2018 passed by the High Court Division in Writ
                Petition No.7545 of 2015))
              </p>
            </div>
          </div>
          <div class="recent_div recent_case">
            <div class="recent_home_icon">
              <i class="bx bxs-briefcase"></i>
            </div>
            <div class="case_title">
              <p>
                Civil Petition 860/2022 ((From the judgment and order dated 05th
                day of April, 2018 passed by the High Court Division in Writ
                Petition No.7545 of 2015))
              </p>
            </div>
          </div>
        </div>
        <div class="show_details_div forum">
          <div class="show_details_div_title">Forums</div>
          <div class="recent_div recent_forum">
            <div class="recent_home_icon">
              <i class="bx bxs-group"></i>
            </div>
            <div class="forum_title">
              <p>Bandar Law Forum</p>
            </div>
          </div>
          <div class="recent_div recent_forum">
            <div class="recent_home_icon">
              <i class="bx bxs-group"></i>
            </div>
            <div class="forum_title">
              <p>Narayanganj Law Forum</p>
            </div>
          </div>
          <div class="recent_div recent_forum">
            <div class="recent_home_icon">
              <i class="bx bxs-group"></i>
            </div>
            <div class="forum_title">
              <p>3 Start Law Forum</p>
            </div>
          </div>
        </div>
      </div>
      <div class="show_less">
        <p>Show less</p>
        <i class="bx bx-chevron-up nav_link"></i>
      </div>
    </div>
    <!-- ================== Profile Post ==================  -->

    <div class="home_post_main">
      <div class="home_post">
        <div class="input_post_field">
          <div class="profile_post_image">
            <img
              src="{% static './assets/images/profile_pic/243801350_3298072810479798_5198757960072350324_n.jpg' %}"
              alt="Profile Photo"
            />
          </div>
          <div class="profile_post_input">Start a post</div>
        </div>
        <div class="assets_field">
          <div class="asset_field photo_field">
            <div class="asset_icon photo_icon">
              <i class="bx bx-image"></i>
            </div>
            <div class="asset_title">
              <p>Photo</p>
            </div>
          </div>
          <div class="asset_field video_field">
            <div class="asset_icon video_icon">
              <i class="bx bxl-youtube"></i>
            </div>
            <div class="asset_title">
              <p>Video</p>
            </div>
          </div>
          <div class="asset_field event_field">
            <div class="asset_icon event_icon">
              <i class="bx bx-calendar"></i>
            </div>
            <div class="asset_title">
              <p>Event</p>
            </div>
          </div>
          <div class="asset_field article_field">
            <div class="asset_icon article_icon">
              <i class="bx bxs-notepad"></i>
            </div>
            <div class="asset_title">
              <p>Write article</p>
            </div>
          </div>
        </div>
      </div>
      <div class="posting_page">
        <div class="posting_note">
          <div class="posting_page_title">
            <p>Create a post</p>
            <i class="uil uil-times posting_modal-close"></i>
          </div>

          <div class="posting_profile">
            <div class="posting_profile_bio">
              <div class="profile_post_image">
                <img
                  src="{% static './assets/images/profile_pic/243801350_3298072810479798_5198757960072350324_n.jpg' %}"
                  alt="Profile Photo"
                />
              </div>
              <div class="profile_post_person_name">
                <p>Jahidul Islam</p>
                <div class="posting_profile_privacy">
                  <i class="bx bx-world privacy_icon"></i>
                  <h5 class="anyone_title">Anyone</h5>
                  <i class="bx bxs-down-arrow privacy_arrow"></i>
                </div>
              </div>
            </div>
          </div>
          <div class="posting_notepade">
            <textarea
              name="posting_txt"
              id="posting_txt"
              placeholder="What do you want to talk about ?"
            ></textarea>
          </div>
          <div class="assets_line">
            <i class="bx bx-image asset_icon_in_line"></i>
            <i class="bx bxl-youtube asset_icon_in_line"></i>
            <i class="uil uil-document-info asset_icon_in_line"></i>
            <i class="bx bx-party asset_icon_in_line"></i>
            <i class="bx bx-poll asset_icon_in_line"></i>
            <i class="uil uil-schedule asset_icon_in_line"></i>
          </div>
          <button class="post_button" id="post_button">Post</button>
        </div>
      </div>
      <div class="public_posts">
        <div class="post_template">
          <div class="post_sender_title">
            <div class="post_sender_info">
              <div class="sender_photo">
                <img
                  src="{% static './assets/images/profile_pic/243801350_3298072810479798_5198757960072350324_n.jpg' %}"
                  alt="Sender Person"
                  srcset=""
                />
              </div>
              <div class="sender_name_and_work">
                <div class="post_sender_name">
                  <h5>Jahidul Islam</h5>
                </div>
                <div class="post_sender_current_work">
                  <p>Student at RPSU</p>
                </div>
              </div>
            </div>
            <div class="post_option">
              <span class="dot"></span>
              <span class="dot"></span>
              <span class="dot"></span>
            </div>
          </div>
          <div class="sender_post">
            <p>
              Always "Be A TEAM" Because, <br />
              <br />
              T - Together <br />
              E - Everything <br />
              A - Achieves <br />
              M - More
            </p>
          </div>
          <br />
          <div class="sender_file">
            <img
              src="{% static './assets/images/image/p.jfif' %}"
              alt="Post 1"
            />
          </div>
        </div>
      </div>
    </div>

    <!-- Home page Aditional Side  -->
    <div class="home_aditional_side">
      <div class="add_feed">
        <div class="add_feed_title">
          <h2>Add to your feed</h2>
          <i class="bx bxs-info-square"></i>
        </div>
        <div class="add_profile_template">
          <a href="#" class="add_profile_info">
            <div class="add_profile_photo">
              <img
                src="{% static './assets/images/fnds_photo/Asraful Islam.jpg' %}"
                alt="Sender Person"
              />
            </div>
            <div class="add_profile_name_and_work">
              <div class="add_profile_name">
                <p>Asraful Islam Spondon</p>
              </div>
              <div class="add_profile_current_work">
                <p>CEO at S2E Solution</p>
              </div>
              <button class="follow">
                <i class="uil uil-plus"></i>
                <p>Follow</p>
              </button>
            </div>
          </a>
        </div>
        <div class="add_profile_template">
          <a href="#" class="add_profile_info">
            <div class="add_profile_photo">
              <img
                src="{% static './assets/images/fnds_photo/anu.jpg' %}"
                alt="Sender Person"
              />
            </div>
            <div class="add_profile_name_and_work">
              <div class="add_profile_name">
                <p>Arafat Anu</p>
              </div>
              <div class="add_profile_current_work">
                <p>Marketing Manager at GrameenPhone</p>
              </div>
              <button class="follow">
                <i class="uil uil-plus"></i>
                <p>Follow</p>
              </button>
            </div>
          </a>
        </div>
        <div class="add_profile_template">
          <a href="#" class="add_profile_info">
            <div class="add_profile_photo">
              <img
                src="{% static './assets/images/fnds_photo/mahadi.jpg' %}"
                alt="Sender Person"
              />
            </div>
            <div class="add_profile_name_and_work">
              <div class="add_profile_name">
                <p>Mahadi Hasan</p>
              </div>
              <div class="add_profile_current_work">
                <p>CTO at S2E Solution</p>
              </div>
              <button class="follow">
                <i class="uil uil-plus"></i>
                <p>Follow</p>
              </button>
            </div>
          </a>
        </div>
        <div class="add_profile_template">
          <a href="#" class="add_profile_info">
            <div class="add_profile_photo">
              <img
                src="{% static './assets/images/fnds_photo/120174983_682808275927233_7781449651177258671_n.jpg' %}"
                alt="Sender Person"
              />
            </div>
            <div class="add_profile_name_and_work">
              <div class="add_profile_name">
                <p>Md Robin Hossain</p>
              </div>
              <div class="add_profile_current_work">
                <p>CEO at Mirzapur Gold Lab Ltd</p>
              </div>
              <button class="follow">
                <i class="uil uil-plus"></i>
                <p>Follow</p>
              </button>
            </div>
          </a>
        </div>
        <a href="#" class="addition_para">
          View all recommendations <i class="uil uil-arrow-right"></i>
        </a>
      </div>
      <div class="adver">
        <a href="#"><img src="./asset/image/adver/adv.png" alt="Adv" /></a>
      </div>
    </div>
  </div>
</main>
{% endblock body %}
